@model SafariBooks.Models.ViewModels.BookCreateViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>
            This is a test view to check out the inputs of Book after someone creates a Book @ViewBag.BookCreate.UniqueNumber.
        </p>
    </div>
</body>
</html>
